[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
rope = "*"
flake8 = "*"
autopep8 = "*"
nltk = "*"
requests = "*"
urllib3 = "*"
tqdm = "*"
pandas = "*"
python-terrier = "*"
dataclasses-json = "*"
pyyaml = "*"
marshmallow = "*"
diskcache = "*"
transformers = "*"
torch = "*"
sentencepiece = "*"
protobuf = "~=3.20"

[dev-packages]

[requires]
python_version = "3.9"
